//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.01Beta
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Sat 03 20 13:44:45 2021

IO_LOC "dp" 27;
IO_PORT "dp" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "g" 41;
IO_PORT "g" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "f" 40;
IO_PORT "f" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "e" 30;
IO_PORT "e" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "d" 29;
IO_PORT "d" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "c" 28;
IO_PORT "c" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "b" 38;
IO_PORT "b" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "a" 39;
IO_PORT "a" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "btn_b" 14;
IO_PORT "btn_b" IO_TYPE=LVCMOS33 PULL_MODE=UP HYSTERESIS=HIGH;
IO_LOC "btn_a" 15;
IO_PORT "btn_a" IO_TYPE=LVCMOS33 PULL_MODE=UP HYSTERESIS=HIGH;
IO_LOC "clk" 35;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
