//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.01Beta
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Fri 05 28 19:56:53 2021

IO_LOC "o_led_b" 16;
IO_PORT "o_led_b" PULL_MODE=UP DRIVE=8;
IO_LOC "o_led_g" 18;
IO_PORT "o_led_g" PULL_MODE=UP DRIVE=8;
IO_LOC "o_led_r" 17;
IO_PORT "o_led_r" PULL_MODE=UP DRIVE=8;
IO_LOC "i_btn" 15;
IO_PORT "i_btn" IO_TYPE=LVCMOS33 PULL_MODE=UP;
