//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.03Beta
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Sat 05 15 13:02:45 2021

IO_LOC "o_led" 16;
IO_PORT "o_led" PULL_MODE=UP DRIVE=8;
IO_LOC "i_clk" 35;
IO_PORT "i_clk" PULL_MODE=UP;
