//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.01Beta
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Sun 03 28 22:51:36 2021

IO_LOC "debug[6]" 46;
IO_PORT "debug[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "debug[5]" 42;
IO_PORT "debug[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "debug[4]" 10;
IO_PORT "debug[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "debug[3]" 43;
IO_PORT "debug[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "debug[2]" 44;
IO_PORT "debug[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "debug[1]" 11;
IO_PORT "debug[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "debug[0]" 45;
IO_PORT "debug[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "sys_clk" 35;
IO_PORT "sys_clk" PULL_MODE=UP;
IO_LOC "btn_a" 15;
IO_PORT "btn_a" PULL_MODE=UP HYSTERESIS=H2L;
IO_LOC "btn_b" 14;
IO_PORT "btn_b" PULL_MODE=UP HYSTERESIS=H2L;
